/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-jul-2014, 10:16:56
    Author     : Dani Work
*/


.tandem-room-content{
    float:left;
    min-width:580px;
    height:auto;
    background-color:grey;
    z-index:1;
    margin-bottom:20px;
}

.tandem-room-left{
    float:left;
    width:290px;
    height:auto;
    border-style: solid;
    border-right-color: white;
    border-right-width: 2px;
}

.tandem-room-right{
    float:left;
    width:290px;
    height:auto;
}

.lineWT{
    border-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px; 
}

.title-waiting{
  background-color: graytext;
  color:#ffffff;  
  text-align:center;
  font-size: medium;
  padding:10px 0 10px 0;
}

.title-tandem{
    background-color: graytext;
    color:#ffffff; 
    text-align:center;  
    font-size: medium;
    padding:10px 0 10px 0;
}

.cleaner{
   
    clear: both;
}


.common-waiting-tandem_users{
    
    margin-left:10px;
}

.waiting-users-zero{
    color:red;
    
}

.waiting-users-more-one{
     color:ivory;
   
}


.tandem-users-more-one{
     color:ivory;
    
}
.exButtonWaiting{
   
    
}

.exButtonTandem{
    
}

#timeline{
    margin-bottom:15px;
    
    
}
#logo{
    margin-top:48px;
    right: -29px !important;
}

/*MODAL*/

/* Simple Modal */

/* Overlay */
#simplemodal-overlay {
    background-color:#f7faf5;
}

/* Container */
#simplemodal-container {
    z-index:5;
        padding-right:50px;
	width:300px;
        height:300px;
	overflow:visible;
	display:block;
	color:#333; 
	background-color:#fff; 
	border:1px solid #2B3F27; 
	padding:25px;
	-moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:3px 3px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

#waiting-container {
	width:450px;
	overflow:visible;
	display:block;
	color:#333; 
	background-color:#fff; 
	border:1px solid #2B3F27; 
	border-top:0;
	padding:35px 25px 5px 25px;
	-moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:3px 3px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.modal {display:none;}
.modal p{text-align:center;display:block;}

.modal .msg{
	color:#2B3F26;
	font-size:20px;
	line-height:25px;
	padding-left:50px;
	padding-right:50px;
}

#waiting-container .msg{
font-size:18px;
line-height:23px;
}

.simplemodal-container a.modalCloseImg {
	background: url('../img/iconset.png') no-repeat -76px -74px;
	width: 18px;
	height: 18px;
	display: inline-block;
	z-index: 3200;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}


/* Iframe */

.iframe{
	border:none;
	width: 900px; 
	margin:10px;
	height: 350px;
	background:transparent;
}

/* Manage Area */

h1.main-title{
	color:#1e2d1c;
	font-weight: normal;
	font-size: 2em;
	margin-top:53px;
	margin-bottom:15px;
}

.manage-area{
	float:left;
	width:100%;
	margin:30px 0;
}

.manage-area .title{
	float:left;
	width:100%;
	background:transparent url('../img/ln_dot_h.gif') repeat-x 0 100%;
	padding-bottom:5px;
	/*border-bottom:1px dotted #2b3f27;*/

}

.manage-area .title .tandem-btn-secundary{
	float:left;
	margin-left:15px;
	top:-3px;
}

.manage-area .title h2{
	color:#1e2d1c;
	font-weight: normal;
	font-size: 2em;
	float:left;
}

.manage-area .message{
	float:left;
	border:0;
    width:98%;
    margin-bottom:1em;
    padding:1em 1% .5em;
    background:#ecefe4 url('../img/ln_dot_h.gif') repeat-x 0 100%;
}

h3.secundary-title{
	color:#1e2d1c;
	font-weight: normal;
	font-size: 1.5em;
	width:100%;
	background:transparent url('../img/ln_dot_h.gif') repeat-x 0 100%;
	padding-bottom:12px;
	margin-bottom:0;
	float:left;
}

#roomStatus{
	margin:1em 0;
	font-size:1.4em;
}

.positionCharge{
    margin-left:80px; 
}

.waitingImagePosition{
    margin-left:75px;
}

/*TABLAS*/

table.table {
    background: url("../img/ln_dot_h.gif") repeat-x scroll 0 100% #fff;
    border: 0 none;
    border-collapse: collapse;
    margin: 0.5em 0 1.5em;
    /*max-width: 30% !important;*/
    width: 67%;
}

table td{
   
    border: #1e2d1c dotted 1px;
    border-left-width: 0.1em !important;
    border-right-width: 0.1em !important;
    border-style:dotted;
    
}


.slider-handle{
	background-color:#62257b !important;
	background-image: linear-gradient(to bottom, #62257b, #62257b) !important;
}

#ex1Slider .slider-selection,#ex2Slider .slider-selection {
	background: #BABABA;
}

.btn-success {
background-color: #7E9F0B !important;
border-color: #7E9F0B !important;
}