.slider-handle{
	background-color:#62257b !important;
	background-image: linear-gradient(to bottom, #62257b, #62257b) !important;
}

#ex1Slider .slider-selection,#ex2Slider .slider-selection {
	background: #BABABA;
}

.btn-success {
background-color: #7E9F0B !important;
border-color: #7E9F0B !important;
}

#pdfForm,#excelForm{
	margin-top:6px;
}
.bullets {
	text-align: justify;
	padding-bottom: 2px;
	/*border:1px solid red;*/
}

.welcomeMessage{
	margin-top:20px;
	color:rgb(97,45,123);
	font-size:16px;
}
.welcomeMessage b{
	font-size:18px;

}